body {
    display: flex;
    margin: 0;
    font-family: var(--main-font);
}

h1 {
    color: var(--first-color);
    font-family: var(--title-font);
}

button {
    padding: 5px;
    border-width: 0;
    border-radius: 5px;
}