<div id="header-menu">
    <img id="logo" src="../images/sukluu.png" alt="sukluu-logo">
    <ul class="h-menu-list">
        <li class="h-menu-list-item">
            <a href="../account.html">
                <span class="material-symbols-outlined">
                    account_circle
                </span>
                Account
            </a>
        </li>
        <li class="h-menu-list-item">
            <a href="../index.html">
                <span class="material-symbols-outlined">
                    dashboard
                </span>
                Dashboard
            </a>
        </li>
        <li class="h-menu-list-item">
            <a href="../courses.html">
                <span class="material-symbols-outlined">
                    book
                </span>
                Courses
            </a>
        </li>
    </ul>
</div>